.hover-pointer {
    cursor: pointer;
}

.object-border {
    border-style: solid;
}

.rarity-common {
    color: #888888;;
    border-color: #888888;
}

.rarity-uncommon {
    color: #28DE3D;
    border-color: #28DE3D;
}

.rarity-rare {
    color: #00D0FF;
    border-color: #00D0FF;
}

.rarity-epic {
    color: #D400FF;
    border-color: #D400FF;
}

.rarity-legendary {
    color: #FF5500;
    border-color: #FF5500;
}

button {
    max-width: 60px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #c0c0c0;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px
}

.ap-dot {
    margin-top: 4px;
    height: 17px;
    width: 17px;
    background-color: #41a14d;
    border-radius: 50%;
    display: inline-block;
}

body {
    background-color: darkslategrey;
    color: lightgrey;
}